body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right, rgb(2, 79, 17) , rgb(26, 190, 4));   
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h2 {
    color: #013305;
}

.post-date {
    color: #888;
}

.comment-form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(2, 79, 17) , rgb(26, 190, 4));   
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.comments {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(2, 79, 17) , rgb(26, 190, 4));   
     color: white;
    margin-top: 20px;
}
